<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <title>About</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='only screen and (min-width:960px)' href='/Content/laptop.css'>
    <link href="/Content/phone.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)">
    <link href="/Content/tablet.css" rel="stylesheet" type="text/css" media="only screen and (min-width: 481px) and (max-width: 960px)">

</head>

<body id="about">
    <div id="wrapper">
        <!--Left Column-->
        <section>
            <div class="aboutTitle">
            <h1><span>About</span></h1>
            </div>
                <div class="aboutLeft">
                    <img src="/Assets\images/aboutme.jpg" alt="Image of Miquela Gonzales" img width="260px">
                    <h2>Hello! My name is Miquela Gonzales and I am a second year Networking and IT Security student at Ontario Tech University.</h2>
                </div>
            <!--Right Column-->
                <div class="aboutRight">
                <h2>Here is a short video about myself:</h2>
                <video id="aboutVid" width="450" height="300" controls preload poster="/Assets\images/poster.jpg" muted >
                <source src="/Assets\images/video.mp4" type="video/mp4">
            </video>
            </div>
    
    </section>
   
    <div class="clear"></div>  <!--Remove Floats-->
</div>
</body>

</html>