  <!--Footer-->
  <footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text">&copy; Copyright 2024. All Rights Reserved</h6>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
    <a target="_blank" class="nav-link"  href="https://github.com/miquelapg">
      <i class="fa-brands fa-github"></i> Github</a>
      </li>
      <li class="nav-item">
      <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/miquela-gonzales/">
        <i class="fa-brands fa-linkedin"></i> LinkedIn</a>
      </li>
    </ul>
  </nav>
</footer>