<!DOCTYPE html>
<html lang="en">
<!--Home Page-->
<head>
    <meta charset='utf-8'>
    <title>Miquela Gonzales Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='only screen and (min-width:960px)' href='/Content/laptop.css'>
    <link href="/Content/phone.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)">
    <link href="/Content/tablet.css" rel="stylesheet" type="text/css"
        media="only screen and (min-width: 481px) and (max-width: 960px)">
</head>

        <!--Home-->
        <section id="homepage">
            <div class="homepageContainer">
                <img src="/Assets\images/homeimg.jpg" alt="Image of black and white clouds" >
                <div class="welcome">
                    <h1><span>Welcome to My</span></h1>
                    <h1><span>Portfolio</span></h1>
                </div>
            </div>
        </section>
        <!--Boxes-->
        <!--About me Box-->
        <section id="box">
            <div class="aboutContainer">
                <a href="/about" target="_blank">
                    <h2>About</h2>
                </a>
            </div>

            <!--Projects Box-->
            <div class="projectsContainer">
                <a href="/project" target="_blank">
                    <h2>Projects</h2>
                </a>
            </div>

            <!--Contact Box-->
            <div class="contactContainer">
                <a href="/contact" target="_blank">
                    <h2>Contact</h2>
                </a>
            </div>
        </section>
<!--Remove Floats-->
        <div class="clear"></div>
    <!--Making the page fit the boxes without getting cut off by footer-->
        <h2></h2>

</body>
</html>