@charset "UTF-8";
/*Laptop/Desktop Viewport*/
body {
    color: white;
    background: -moz-linear-gradient(top, black 0%, blue 100%);
    background: -webkit-linear-gradient(top, black 0%, blue 100%);
    background: -o-linear-gradient(top, black 0%, blue 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

#wrapper {
    width: 960px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*Homepage section*/
.homepageContainer {
    position: relative;
    text-align: center;
}
.homepageContainer img{
  width: 100%;
}
.welcome{
    position: absolute;
    font-size: x-large;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#homepage img{
    width: 100%;
    object-fit: cover;
}

/*Homepage Boxes*/
#box {
   background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    bottom: 70%;
}

.aboutContainer,
.projectsContainer,
.contactContainer {
    background-color: white;
    padding: 20px;
    width: 170px;
    height: 150px;
    text-align: center;
    border-radius:35px;
    
}

.aboutContainer a,
.projectsContainer a,
.contactContainer a {
    text-decoration: none;
    color: black;
}

.aboutContainer:hover,
.projectsContainer:hover,
.contactContainer:hover {
    background-color: silver;
    box-shadow: 4px 4px 5px silver;
   
}
/*End of Homepage*/

/*About me Page*/

.aboutLeft{
    float: left;
    width: 50%; 
}
.aboutLeft img{
    margin-left: 70px;
    border-radius: 100px;
   
}
.aboutRight{
    float: right;
    width: 50%;
}

/*End of About Me*/

/*Projects Page*/

#projects .projectContainer h2{
    text-align: center;
}
#projects .projectContainer h4 {
    margin-left: 40px;
}
#projects .projectContainer h1{
    margin-left: 15px;
}
#projects .left{
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
#projects .right{
    width: 50%;
    float: right;
    margin-bottom: 10px;
}
#projects img{
    align-items: center;
    margin: auto;
    display: block;
    width:100%;
}
#projects #pythonImg {
    align-items: center;
    margin: auto;
    display: block;
    width: 80%;
}
/*End of Projects Page*/

/*Contact Page*/

#contact .contactBox {
    margin-left: 25px;
}

#contact form {
    margin-left: 170px;
    
}
.phoneEmail, .contactButtons, .nameBox{
    align-items: center;
}
.contactButtons{
    margin-bottom: 20px;
}
/*End of Contact Page*/

 /*Clears Floats*/
 .clear {
    clear: both;
}